# fly.toml app configuration file generated for canasta-server on 2026-01-18T06:31:58-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'canasta-server'
primary_region = 'ord'

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']


[[mounts]]
source = "canasta_data"
destination = "/app/db"

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
