name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -o main cmd/api/main.go
      - name: Test with the Go CLI
        run: go test ./... -v
